sample/.actionScriptProperties
sample/.project
sample/.settings/org.eclipse.core.resources.prefs
sample/bin-debug/AS3StatusSample-app.xml
sample/bin-debug/AS3StatusSample.swf
sample/src/AS3StatusSample-app.xml
